<p style="text-align: center;"><%= notice %><%= alert %></p>

<section class="function container-fluid">

<% @pictures.each do |picture| %>
  <div class="row" style="border-bottom: 1px solid gray; margin: 50px;">
    <%= image_tag(picture.image) %>
    <p><%= picture.user.name %>
    </p>
    <p style="margin-top: 10px;"><%= picture.comment %></p>
    <%= link_to "編集", edit_picture_path(picture.id) %>
    <%= link_to "削除", picture_path(picture.id), method: :delete, data: {confirm: "are you sure?"} %>
  </div>
<% end %>
 </section>
